= form_with(model: @club) do |form|
  - if @club.errors.any?
    div style="color: red"
      h2 = "#{pluralize(@club.errors.count, "error")} prohibited this club from being saved:"
      ul
        - @club.errors.each do |error|
          li = error.full_message

  div
    = form.label :name, style: "display: block"
    = form.text_field :name

  div
    = form.label :country_code, style: "display: block"
    = form.text_field :country_code

  div
    = form.label :city, style: "display: block"
    = form.text_field :city

  div
    = form.submit
