= form_with(model: team, url: [tournament, team], class: "contents") do |form|
  - if team.errors.any?
    #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
      h2
        = pluralize(team.errors.count, "error")
        |  prohibited this team from being saved:
      ul
        - team.errors.each do |error|
          li
            = error.full_message
  .my-5
    = form.label :name
    = form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :tournament_id
    / = form.text_field :tournament_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    = form.collection_select :tournament_id, Tournament.all, :id, :name, { prompt: true }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .inline
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
