.wrapper-div
  = form.input :first_name
  = form.input :middle_name
  = form.input :last_name
  = form.input :second_last_name
  = form.input :nickname
  = form.input :dob, as: :date, start_year: Date.today.year - 110,
                              end_year: Date.today.year - 12,
                              order: [:day, :month, :year]

  = form.input :country_code, priority: ["CL", "AR", "BR", "PE", "CO"]
  = form.input :city
  = form.association :club
  = form.input :shirt_size, collection: Profile::SHIRT_SIZES, prompt: t('select')
  = form.input :lefty
  = form.input :gender, collection: Profile::GENDERS, prompt: t('select')
  = form.input :pronouns
  = form.input :food_preferences
  = form.input :allergies
