= simple_form_for([tournament, team], url: create_from_register_tournament_teams_path(tournament), class: "contents") do |form|
  - if team.errors.any?
    #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
      h2
        = pluralize(team.errors.count, "error")
        |  prohibited this team from being saved:
      ul
        - team.errors.each do |error|
          li
            = error.full_message

  .my-5
    = form.input :name
  / .my-5
    = form.association :tournament

  h3.text-xl.mb-3
    /| Team players:
    = TournamentTeamPlayer.model_name.human(count: 2)
  #tournament_team_players
    = form.simple_fields_for :tournament_team_players, include_id: false do |ttpf|
      = render 'tournament_team_player_fields', form: ttpf
  = link_to_add_nested(form, :tournament_team_players, '#tournament_team_players', partial: 'teams/tournament_team_player_fields', link_classes: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800')

  .inline
    = form.button :submit
