| <div id="
= dom_id team
| "> 
p.my-5
  strong.block.font-medium.mb-1
    | Name:
  = team.name
p.my-5
  strong.block.font-medium.mb-1
    | Tournament:
  = link_to tournament do
    span.underline
      = tournament.name
  /= team.tournament_name
h3.text-l.font-medium
  = Team.model_name.human
ol.list-decimal
  - team.tournament_team_players.each do |ttplayer|
    li = ttplayer.display_name
- if action_name != "show"
  = link_to "Show this team", tournament_team_path(tournament, team), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
  = link_to 'Edit this team', edit_tournament_team_path(tournament, team), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
  hr.mt-6
