.wrapper-div
  / = ttpform.association :player
  .player-form
    - if form.object.player.blank?
      - form.object.build_player(profile: Profile.new)
    = form.simple_fields_for :player do |player_form|
      / = player_form.input :nickname
      = render 'player_fields', form: player_form
    hr
    br
    br
  / link_to_add_nested(form, :tournament_team_players, '#tournament_team_players')
    = form.simple_fields_for :tournament_team_players, include_id: false do |ttpf|
      = render 'tournament_team_player_fields', form: ttpf
  /= link_to_remove_nested(form)
