.mx-auto.md:w-2/3.w-full
  h1.font-bold.text-4xl
    | Editing team
  = render "form", team: @team, tournament: @tournament
  = link_to "Show this team", tournament_team_path(@tournament, @team), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
  = link_to "Back to teams", tournament_teams_path(@tournament), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
