.w-full
  / - if notice.present?
  /   p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block
  /     = notice
  .flex.justify-between.items-center
    h1.font-bold.text-4xl
      = Team.model_name.human(count: 2)
    / = link_to 'New team', new_tournament_team_path(@tournament), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
    = link_to t('register'), register_tournament_teams_path(@tournament), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
    /= link_to t('register'), register_tournament_teams_path(@tournament), class: "rounded-lg py-1 px-3 bg-gray-100 inline-block font-medium"
  #teams.min-w-full
    / = render @teams, tournament: @tournament
    - if @teams.any?
      = render 'tournaments/teams_list', teams: @teams, tournament: @tournament
    - else
      = t('teams.empty', default: 'No teams for this tournament')

  = link_to "Show this tournament", @tournament, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
