.mx-auto.md:w-2/3.w-full
  h1.font-bold.text-4xl
    | New team
  = render "form", team: @team, tournament: @tournament
  = link_to 'Back to teams', tournament_teams_path(@tournament), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
