.mx-auto.md:w-2/3.w-full
  h1.font-bold.text-4xl
    = t('register')
    =< Team.model_name.human.downcase
  = render "registration_form", team: @team, tournament: @tournament
  /= link_to 'Back to teams', teams_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
