/ .mx-auto.md:w-2/3.w-full.flex
/   .mx-auto
/     - if notice.present?
/       p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block
/         = notice
p
  | REGISTRO TERMINADO
/= render @team
= link_to "Show this team", tournament_team_path(@team.tournament, @team), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
