.mx-auto.md:w-2/3.w-full.flex
  .mx-auto
    / - if notice.present?
    /   p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block
    /     = notice
    = render @team, tournament: @tournament
    = link_to 'Edit this team', edit_tournament_team_path(@tournament, @team), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    .inline-block.ml-2
      = button_to 'Destroy this team', tournament_team_path(@tournament, @team), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium"
    = link_to 'Back to teams', tournament_teams_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
