<div class="h-full w-full max-w-md mx-auto align-middle">
  <h2 class="text-center mb-2 font-bold"><%= t(".resend_confirmation_instructions") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>

    <div class="form-inputs">
      <%= f.input :email,
           required: true,
           autofocus: true,
           value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
       input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions mb-3">
      <%= f.button :submit, t(".resend_confirmation_instructions") %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
