<div class="h-full w-full max-w-md mx-auto align-middle">
  <h2 class="text-center mb-2 font-bold"><%= t(".title", resource: devise_i18n_fix_model_name_case(resource.model_name.human, i18n_key: "registrations.edit.title")) %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
      <% end %>

      <%= f.input :password,
         hint: t(".leave_blank_if_you_don_t_want_to_change_it"),
       required: false,
       input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
         required: false,
         input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
         hint: t(".we_need_your_current_password_to_confirm_your_changes"),
       required: true,
       input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions mb-3">
      <%= f.button :submit, t(".update") %>
    </div>
  <% end %>

  <h3><%= t(".cancel_my_account") %></h3>

  <div><%= t(".unhappy") %> <%= button_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure"), turbo_confirm: t(".are_you_sure") }, method: :delete %></div>

  <%= link_to t("devise.shared.links.back"), :back %>
</div>
