<div class="h-full w-full max-w-md mx-auto align-middle">
  <h2 class="text-center mb-2 font-bold"><%= t(".sign_up") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
           required: true,
           autofocus: true ,
           input_html: { autocomplete: "email" }%>
      <%= f.input :password,
           required: true,
                hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions mb-3">
    <%= f.button :submit, t(".sign_up") %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
