div.my-5.bg-gray-300.p-3 id="#{dom_id @tournament}"

  h2.font-bold.text-medium
    = @tournament.name
    =< @tournament.country_flag

  p.mb-3.font-normal.text-gray-700.dark:text-gray-400
    = @tournament.starts_at.present? ? l(@tournament.starts_at, format: "%b %d, %Y") : t('TBD')

  p.mb-3.font-normal.text-gray-700.dark:text-gray-400
    | Registered teams:
    =< @tournament.teams.size

  p.mb-3.font-normal.text-gray-700.dark:text-gray-400
    = @tournament.description

  p.mb-3.font-normal
    = Tournament.human_attribute_name('address')
    |:
    =< @tournament.address.presence || t('TBD')
    |,
    span
      /= Tournament.human_attribute_name('country')
      =< @tournament.country_flag
      =< @tournament.country_name
      |  (
      = @tournament.country_code
      |)

  a href=tournament_url(@tournament) class="rounded-lg py-1 px-3 bg-gray-100 inline-block font-medium"
    = t('show')
  = link_to t('register'), register_tournament_teams_path(@tournament), class: "rounded-lg py-1 px-3 bg-gray-100 inline-block font-medium"

  /a href=tournament_url(@tournament)  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/docs/images/blog/image-4.jpg" alt=""
    div class="flex flex-col justify-between p-4 leading-normal"
        h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          = @tournament.name

        p class="mb-3 font-normal text-gray-700 dark:text-gray-400"
          = @tournament.description
/ p.my-5
/   strong.block.font-medium.mb-1
/     | Name:
/   = @tournament.name
/ p.my-5
/   strong.block.font-medium.mb-1
/     | Description:
/   = @tournament.description
/ p.my-5
/   strong.block.font-medium.mb-1
/     | Starts at:
/   = @tournament.starts_at
/ p.my-5
/   strong.block.font-medium.mb-1
/     | Ends at:
/   = @tournament.ends_at
/ p.my-5
/   strong.block.font-medium.mb-1
/     | Address:
/   = @tournament.address
/ p.my-5
/   strong.block.font-medium.mb-1
/     | City:
/   = @tournament.city
/ p.my-5
/   strong.block.font-medium.mb-1
/     | Country:
/   => @tournament.country_flag
/   = @tournament.country_name
/   |  (
/   = @tournament.country_code
/   |)
/ p.my-5
/   strong.block.font-medium.mb-1
/     | Latitude:
/   = @tournament.latitude
/ p.my-5
/   strong.block.font-medium.mb-1
/     | Longitude:
/   = @tournament.longitude
/ - if action_name != "show"
/   = link_to "Show this @tournament", @tournament, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
/   = link_to 'Edit this @tournament', edit_tournament_path(@tournament), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
  hr.mt-6
