<div class="h-full w-full max-w-md mx-auto align-middle">
  <h2 class="text-center mb-2 font-bold"><%= t(".resend_unlock_instructions") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>

    <div class="form-inputs">
      <%= f.input :email,
           required: true,
           autofocus: true,
           input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions mb-3">
      <%= f.button :submit, t(".resend_unlock_instructions") %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
