= form_with(model: @round) do |form|
  - if @round.errors.any?
    div style="color: red"
      h2 = "#{pluralize(@round.errors.count, 'error')} prohibited this round from being saved:"
      ul
        - @round.errors.each do |error|
          li = error.full_message

  div
    = form.label :name, style: "display: block"
    = form.text_field :name

  div
    = form.label :order, style: "display: block"
    = form.number_field :order

  div
    = form.label :tournament_id, style: "display: block"
    = form.text_field :tournament_id

  div
    = form.submit
