= simple_form_for([current_user , @user_profile], url: user_profile_url, method: :put) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.input :second_last_name
    = f.input :nickname
    = f.input :dob, start_year: Date.today.year - 110, end_year: Date.today.year, order: [:day, :month, :year]
    = f.input :country_code
    = f.input :city
    = f.input :club_id
    = f.input :shirt_size, collection: Profile::SHIRT_SIZES, prompt: t('select')
    = f.input :lefty
    = f.input :gender, collection: Profile::GENDERS.to_h { |h| [t(h), h] }, prompt: t('select')
    = f.input :other_gender
    = f.input :pronouns
    = f.input :food_preferences
    = f.input :allergies
    = f.input :preferred_locale, collection: I18n.available_locales.to_h { |l| [t("languages.#{l}"), l] }

  .form-actions
    = f.button :submit
