div id="#{dom_id profile}"
  p
    strong
      = Profile.human_attribute_name(:first_name)
      |:
    =< profile.first_name
  p
    strong
      = Profile.human_attribute_name(:middle_name)
      |:
    =< profile.middle_name
  p
    strong
      = Profile.human_attribute_name(:last_name)
      |:
    =< profile.last_name
  p
    strong
      = Profile.human_attribute_name(:second_last_name)
      |:
    =< profile.second_last_name
  p
    strong
      = Profile.human_attribute_name(:nickname)
      |:
    =< profile.nickname
  p
    strong
      = Profile.human_attribute_name(:dob)
      |:
    =< profile.dob? ? l(profile.dob, format: :long) : nil
  p
    strong
      = Profile.human_attribute_name(:country_code)
      |:
    =< profile.country_flag
    =< profile.country_name
    |  (
    = profile.country_code
    |)
  p
    strong
      = Profile.human_attribute_name(:city)
      |:
    =< profile.city
  p
    strong
      = Profile.human_attribute_name(:club_id)
      |:
    =< profile.club_name
  p
    strong
      = Profile.human_attribute_name(:shirt_size)
      |:
    =< profile.shirt_size
  p
    strong
      = Profile.human_attribute_name(:lefty)
      |:
    =< !profile.lefty ? t('yes') : t('no')
  p
    strong
      = Profile.human_attribute_name(:gender)
      |:
    =< t(profile.gender)
  p
    strong
      = Profile.human_attribute_name(:other_gender)
      |:
    =< profile.other_gender
  p
    strong
      = Profile.human_attribute_name(:pronouns)
      |:
    =< profile.pronouns
  p
    strong
      = Profile.human_attribute_name(:food_preferences)
      |:
    =< profile.food_preferences
  p
    strong
      = Profile.human_attribute_name(:allergies)
      |:
    =< profile.allergies
  p
    strong
      = Profile.human_attribute_name(:preferred_locale)
      |:
    =< t("languages.#{profile.preferred_locale}")
