p style="color: green" = notice

h1 Profiles

#user_profiles
  - @user_profiles.each do |user_profile|
    == render user_profile
    p
      = link_to "Show this profile", user_profile

= link_to "New profile", new_user_profile_path
