.w-full
  .mx-auto
    == render @user_profile

    div.mt-4
      => link_to "Edit this profile", user_profile_edit_path, class: 'my-2 bg-blue-500 hover:bg-blue-700 text-white font-bold text-sm py-2 px-4 rounded'
