div[class="overflow-x-auto relative shadow-md sm:rounded-lg"]
  table[class="w-full text-sm text-left text-gray-500 dark:text-gray-400"]
    thead[class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"]
      tr
          th[scope="col" class="py-3 px-6"]
            = Team.human_attribute_name(:name)
          th[scope="col" class="py-3 px-6"]
            = Team.human_attribute_name(:players)
          /th[scope="col" class="py-3 px-6"]
            | Category
          /th[scope="col" class="py-3 px-6"]
            | Price
          /th[scope="col" class="py-3 px-6"]
            | Action
    tbody
      - teams.each_with_index do |team, index|
        tr[class="#{index.even? ? 'bg-white dark:bg-gray-900': 'bg-gray-50 dark: bg-gray-800'} border-b dark:border-gray-700"]
          th[ scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"]
            = link_to team.name, tournament_team_path(tournament_id: @tournament.id, id: team.id)
          td[class="py-4 px-6"]
            = team.players_display_names
          /td[class="py-4 px-6"]
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
