| <div id="
= dom_id tournament
| "> 
p.my-5
  strong.block.font-medium.mb-1
    | Name:
  = tournament.name
p.my-5
  strong.block.font-medium.mb-1
    | Description:
  = tournament.description
p.my-5
  strong.block.font-medium.mb-1
    | Starts at:
  = tournament.starts_at
p.my-5
  strong.block.font-medium.mb-1
    | Ends at:
  = tournament.ends_at
p.my-5
  strong.block.font-medium.mb-1
    | Address:
  = tournament.address
p.my-5
  strong.block.font-medium.mb-1
    | City:
  = tournament.city
p.my-5
  strong.block.font-medium.mb-1
    | Country:
  => tournament.country_flag
  = tournament.country_name
  |  (
  = tournament.country_code
  |)
p.my-5
  strong.block.font-medium.mb-1
    | Latitude:
  = tournament.latitude
p.my-5
  strong.block.font-medium.mb-1
    | Longitude:
  = tournament.longitude

h3.font-medium.text-xl
  = Team.model_name.human(count: 2)
ol.list-decimal
  - tournament.teams.each do |team|
    li
      = link_to team.name, tournament_team_path(tournament_id: tournament.id, id: team.id)
      =< team.tournament_team_players.map(&:player).flat_map(&:country_flag).uniq.join('')
  - if tournament.teams.any?
    = render 'tournaments/teams_list', teams: tournament.teams, tournament: tournament
  - else
    = t('teams.empty', default: 'No teams for this tournament')
- if action_name != "show"
  = link_to "Show this tournament", tournament, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
  = link_to 'Edit this tournament', edit_tournament_path(tournament), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
  hr.mt-6
