.w-full
  / - if notice.present?
  /   p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block
  /     = notice
  .flex.justify-between.items-center
    h1.font-bold.text-4xl
      = Tournament.model_name.human(count: 2)
    = link_to "#{t('new')} #{Tournament.model_name.human.downcase}", new_tournament_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
  #tournaments.min-w-full
    /= render @tournaments
    = render TournamentComponent.with_collection(@tournaments)
