.mx-auto.md:w-2/3.w-full
  h1.font-bold.text-4xl
    = t('new')
    =< Tournament.model_name.human
  = render "form", tournament: @tournament
  = link_to 'Back to tournaments', tournaments_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
