.w-full
  .mx-auto
    / - if notice.present?
    /   p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block
    /     = notice
    = render @tournament
    = link_to 'Edit this tournament', edit_tournament_path(@tournament), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    .inline-block.ml-2
      = button_to 'Destroy this tournament', tournament_path(@tournament), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium"
    = link_to 'Back to tournaments', tournaments_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    = link_to 'Register', register_tournament_teams_path(@tournament), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
