<div class="h-full w-full max-w-md mx-auto align-middle">
  <h2 class="text-center mb-2 font-bold"><%= t(".sign_in") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
          required: false,
          autofocus: true,
          input_html: { autocomplete: "email" } %>
      <%= f.input :password,
          required: false,
          input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions mb-3">
      <%= f.button :submit, t(".sign_in") %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
