= form_with(model: @player) do |form|
  - if @player.errors.any?
    div style="color: red"
      h2 = "#{pluralize(@player.errors.count, 'error')} prohibited this player from being saved:"
      ul
        - @player.errors.each do |error|
          li = error.full_message

  div
    = form.label :name, style: "display: block"
    = form.text_field :name

  div
    = form.label :nickname, style: "display: block"
    = form.text_field :nickname

  div
    = form.submit
