p style="color: green" = notice

== render @player

div
  => link_to "Edit this player", edit_player_path(@player)
  '|
  =< link_to "Back to players", players_path

  = button_to "Destroy this player", @player, method: :delete
