= form_with(model: match, url: [tournament, match], class: 'contents') do |form|
  - if match.errors.any?
    div style="color: red"
      h2 = "#{pluralize(match.errors.count, 'error')} prohibited this match from being saved:"
      ul
        - match.errors.each do |error|
          li = error.full_message

  h2
    = match.round.name

  h3
    = Match.human_attribute_name(:home_team)
    |:
    =<> match.home_team_name
    | vs
    =< Match.human_attribute_name(:visitor_team)
    |:
    =< match.visitor_team_name

  br

  .results
    .teams.md:grid.grid-cols-11.gap-4
      .home_team.col-span-5
        .score
          = t('score')
          |:
          span.value
            =< match.home_score || 0
        == render "team_players", team: match.home_team, match: match
      .separator vs.
      .visitor_team.col-span-5
        .score
          = t('score')
          |:
          span.value
            =< match.visitor_score || 0
        == render "team_players", team: match.visitor_team, match: match
        / .name = match.visitor_team_name
  div
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
