div id="#{dom_id match}"
  p
    strong Round:
    =< match.round_name
  p
    strong Home team:
    =< match.home_team_name
  p
    strong Visitor team:
    =< match.visitor_team_name
  p
    strong Home score:
    =< match.home_score
  p
    strong Visitor score:
    =< match.visitor_score
