= form_with(model: match, url: [tournament, match], class: 'contents') do |form|
  - if match.errors.any?
    div style="color: red"
      h2 = "#{pluralize(match.errors.count, 'error')} prohibited this match from being saved:"
      ul
        - match.errors.each do |error|
          li = error.full_message

  div
    = form.label :round_id, style: "display: block"
    = form.collection_select :round_id, tournament.rounds, :id, :name, { prompt: true }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  div
    = form.label :home_team_id, style: "display: block"
    = form.collection_select :home_team_id, tournament.teams, :id, :name, { prompt: true }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  div
    = form.label :visitor_team_id, style: "display: block"
    = form.collection_select :visitor_team_id, tournament.teams, :id, :name, { prompt: true }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  div
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
