.title
  .name = team.name
  / .score = match.home_score
.players[data-controller='matches']
  ul
    - team.tournament_team_players.each do |ttplayer|
      li
        = ttplayer.player.name
        button [
          data-action="matches#addGoal"
          data-matches-tournament-team-player-id-param="#{ttplayer.id}"
          data-matches-tournament-id-param="#{match.tournament.id}"
          data-matches-match-id-param="#{match.id}"
          class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        ]
          =< t("match.goal.add", default: "add goal")
