.w-full

  h1 Editing match

  == render "edit_form", match: @match, tournament: @tournament

  br

  div
    => link_to "Show this match", tournament_match_path(@tournament, @match)
    '|
    =< link_to "Back to matches", tournament_matches_path
