.w-full
  p style="color: green" = notice

  h1 Matches

  #matches
    - if @matches.empty?
      p = t('matches.empty', default: 'No matches')
    - else
      - @matches.each do |match|
        == render match
        p
          = link_to "Show this match", tournament_match_path(match.tournament, match)

  = link_to "New match", new_tournament_match_path(@tournament)
