.w-full
  p style="color: green" = notice

  == render @match

  div
    => link_to "Edit this match", edit_tournament_match_path(@tournament, @match)
    '|
    =< link_to "Back to matches", tournament_matches_path

    = button_to "Destroy this match", tournament_match_path(@tournament, @match), method: :delete
