@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

div.field_with_errors > label {
    @apply text-red-900;
  }

div.field_with_errors > :is(input, textarea, select, email, password) {
    @apply border-red-300 text-red-900 placeholder-red-300;
  }

#error_explanation {
    @apply bg-red-100 border-red-300 text-red-900 py-2 px-3 mb-5 font-medium rounded-lg inline-block;
  }

.alert.alert-info {
    @apply py-2 px-3 bg-blue-50 mb-5 text-blue-500 font-medium rounded-lg inline-block
  }

main {
    /* @apply bg-yellow-200; */
  }
