.w-full
  .mx-auto
    - flash.each do |type, msg|
      /p
        | this is the type:
        =< type

      - if type == 'info'
        .p-4.mb-4.text-sm.text-blue-800.font-medium.rounded-lg.inline-block.bg-blue-50.dark:bg-gray-800.dark:text-blue-400 role="alert"
          span = msg
      - if type == 'notice'
        .p-4.mb-4.text-sm.text-green-800.font-medium.rounded-lg.inline-block.bg-green-50.dark:bg-gray-800.dark:text-green-400 role="alert"
          span = msg
      - if type == 'alert'
        .p-4.mb-4.text-sm.text-red-800.font-medium.rounded-lg.inline-block.bg-red-50.dark:bg-gray-800.dark:text-red-400 role="alert"
          span = msg
      - if type == 'warning'
        .p-4.mb-4.text-sm.text-yellow-800.font-medium.rounded-lg.inline-block.bg-yellow-50.dark:bg-gray-800.dark:text-yellow-400 role="alert"
          span = msg
