<nav class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="<%= root_url %>" class="flex items-center">
      <img src="https://scontent.fscl28-1.fna.fbcdn.net/v/t39.30808-6/301558610_520384913226213_7861868771634639257_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=qsFfSspXqhUQ7kNvgFINIBU&_nc_oc=AdjtZJ-YLXE8CWgaKnMsIZnBcv5sb5HVfemsXwrSaYto2s8P4aVGYic-qMLycyHSt4c&_nc_zt=23&_nc_ht=scontent.fscl28-1.fna&_nc_gid=A5PHkwj3P1tu76KXQcf59zf&oh=00_AYDpLhOQqMfOGuKHQDhBuSemYshNL_DOO6SKCCYm5iT47A&oe=6798C8F5" class="mr-3 h-6 sm:h-9" alt="Bicipolo Tourneys">
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Bicipolo Tourneys</span>
    </a>
    <div class="flex items-center md:order-2">
      <% if current_user.present? %>
        <%= render partial: 'layouts/user_dropdown' %>
      <% else %>
        <a href="<%= new_user_session_url %>" class="mr-2 text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">
          Sign in
        </a>
        <a href="<%= new_user_registration_url %>" class="text-sm font-medium text-blue-600 dark:text-blue-500 hover:underline">
          Sign up
        </a>
      <% end %>
      <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
        <span class="sr-only">
          Open main menu
        </span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
    <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
      <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="/" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">
            Home
          </a>
        </li>
        <%# <li>
        <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
        About
        </a>
        </li> %>
        <li>
          <a href="<%= tournaments_path %>" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
            <%= Tournament.model_name.human(count: 2) %>
          </a>
        </li>
        <%# <li>
        <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
        </li>
        <li>
        <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Pricing</a>
        </li> %>
        <%# <li>
        <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
        </li> %>
      </ul>
    </div>
  </div>
</nav>

