<button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
  <span class="sr-only">Open user menu</span>
  <img class="w-8 h-8 rounded-full" src="https://ui-avatars.com/api/?name=<%= current_user.first_and_last_name%>" alt="<%= current_user.first_and_last_name %>">
</button>
<!-- Dropdown menu -->
<div class="z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 hidden" id="user-dropdown" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(661px, 82px);" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom">
  <div class="py-3 px-4">
    <span class="block text-sm text-gray-900 dark:text-white">
      <%= current_user.display_name %>
    </span>
    <span class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400">
      <%= current_user.email %>
    </span>
  </div>
  <ul class="py-1" aria-labelledby="user-menu-button">
    <li>
      <a href="<%= user_profile_url %>" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
        <%= Profile.model_name.human %>
      </a>
    </li>
    <%# <li>
    <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
    </li>
    <li>
    <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
    </li>
    <li>
    <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
    </li> %>
    <li>
      <%= link_to(
        t('sign_out'),
        destroy_user_session_path,
        data: { turbo_method: :delete },
        method: :delete, class: "block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
      ) %>
      <%# <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a> %>
    </li>
  </ul>
</div>
