<!DOCTYPE html>
<html class="">
  <head>
    <title>Bicipolo Tourneys</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="">
    <%= render partial: 'layouts/main_navbar' %>
    <main class="container mx-auto mt-28 px-5 flex">
      <div class="mx-auto w-full ">
        <div class="mx-auto">
          <%= render partial: 'layouts/flash_messages' %>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
